<mat-nav-list>
			<mat-list-item>
				
        	<a matLine routerLink='/dashboard' fxflex  fxLayout="row">
          <mat-icon class="commmon-Icon">home</mat-icon>
          <span>Home</span>			
				</a>
			</mat-list-item>			
		</mat-nav-list>



<mat-accordion class="mat-side-accordion">
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				UI Collection
			</mat-panel-title>
		</mat-expansion-panel-header>

       



		<mat-nav-list>		

			<mat-list-item>
				<a matLine routerLink='/ui/ui/card' fxflex  fxLayout="row"><mat-icon>info</mat-icon><span>Cards</span>					
				</a>
			</mat-list-item>
		</mat-nav-list>

	</mat-expansion-panel>
</mat-accordion>