<div fxLayout="row" fxLayoutWrap="wrap" class="" >
  <div  fxFlex="100%">
<mat-card class="example-card service-company">
  <mat-card-header fxLayoutAlign="center center">
   
    <mat-card-title><mat-icon>redo</mat-icon> TRANSACTION ADVISORY</mat-card-title>
    
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      CP, with its dedicated and specialized team and extensive network of professionals across country having vast experience and expertise of corporate laws and finance, provides a comprehensive solutions for M&A transactions - need analysis, planning & forming right strategy, business valuations, end to end documentation and regulatory approval support, to ensure successful transaction closing.
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      We believe that high quality, integrated, goal oriented cost effective solutions for any M&A transaction is key to successful and seamless inorganic growth strategy of businesses, especially for small and medium size organizations be it listed or unlisted.
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions fxLayoutAlign="center center">
    <button mat-button >GET IN TOUCH</button>
   
  </mat-card-actions>
</mat-card>
  </div>
</div>



<div fxLayout="row" fxLayoutWrap="wrap" class="margin-top" >
  <div  fxFlex="100%" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxLayout="row" fxLayout.xs="column" fxLayout.sm="row">
    <div  fxFlex="20%" fxFlex.gt-sm="14" fxFlex.gt-xs="14" fxFlex.xs="100" class="Cloud-icon" fxLayoutAlign="center center" fxLayoutWrap fxLayoutGap="20px" >    
 <mat-icon>trending_up</mat-icon>
 <a href="" ><span>Learn More</span></a>
  </div>

 <div  fxFlex="80%" fxFlex.gt-sm="86" fxFlex.gt-xs="86" fxFlex.xs="100" >    
 <mat-card class="example-card bg-color-dark margin-top" >
  <mat-card-header fxLayoutAlign="center center">   
    <mat-card-title><mat-icon>redo</mat-icon> 
    DIGITAL STRATEGY & OPERATIONS
    </mat-card-title>    
  </mat-card-header>

  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      CP, with its dedicated and specialized team and extensive network of professionals across country having vast experience and expertise of corporate laws and finance, provides a comprehensive solutions for M&A transactions - need analysis, planning & forming right strategy, business valuations, end to end documentation and regulatory approval support, to ensure successful transaction closing.
    </p>
  </mat-card-content>
 
  <mat-divider>    
  </mat-divider>
  
</mat-card>
  </div>


  </div>
   
  </div>
























<div fxLayout="row" fxLayoutWrap="wrap" >
  <div  fxFlex="100%" fxFlex.gt-sm="50" fxFlex.gt-xs="50" >
    <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
  </div>

<div  fxFlex="100%" fxFlex.gt-sm="50" fxFlex.gt-xs="50" >
    <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
  </div>




</div>





